body {
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

button:focus, button:active, input:focus, input:active {
  outline: none !important;
  box-shadow: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.subtitle {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

.social {
  height: 7vh;
}

.social:hover {
  opacity: 0.7;
  cursor: pointer;
}

.email-input {
  border-radius: 10vh 0 0 10vh;
  border-style: none
}

.email-button {
  border-radius: 0 10vh 10vh 0;
  background-color: #4B4B4B;
  border-style: none;
  color: #FFC909;
  cursor: default;
  font-family: 'Josefin Sans', sans-serif;
}

.email-input-light {
  border-radius: 10vh 0 0 10vh;
  border-style: none;
  background-color: #4B4B4B;
  color: white
}

.email-button-light {
  border-radius: 0 10vh 10vh 0;
  background-color: #FFC909;
  border-style: none;
  color: white;
  cursor: default;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-link {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 150%;
  text-decoration: none;
  color: #FFC909;
}

.navbar-link:hover {
  text-decoration: none;
  color: #FFC909;
  opacity: 0.2;
}

.current-page {
  color: #666666;
}

.current-page:hover {
  color: #666666;
}

.extra-large-title {
  font-size: 500%;
}

.bg-page {
  border-radius: 5vh  5vh 0 0;
}

.headshot {
  border-radius: 50%;
}

.events-image {
  height: auto;
}

.subheading {
  color: grey;
}

.description-text{
  font-size: 140%;
}

.apply-button {
  border-radius: 10vh 10vh 10vh 10vh;
  background-color: #FFC909;
  border-style: none;
  color: white;
  cursor: default;
  font-family: 'Josefin Sans', sans-serif;
}

.section-title{
  color: #FFC909;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-filter: brightness(30%);
  /* Safari */
  filter: brightness(30%);
}

#main-title {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#main-subtitle {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}

#navbar-custom {
  border-radius: 0 0 3vh 3vh;
  background-color: #4B4B4B;
}

#about-page {
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#subtitle {
  color: #FFC909; 
}
