
html{
  height: 100vh;
}

body {
  height: 100vh;
}

footer {
  color: white;
  padding: 1%;
  background-color: rgba(0, 0, 0, 0.9);
}

a{
    color: white;
    text-decoration: none !important;
}

a:hover{
    color: white;
    opacity: 0.5;
}


.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}

.navbar-dark{
  background-color: rgba(0, 0, 0, 0.3);
}

.nav-bar-text{
  font-size: 17px;
}

.social-media{
  width: 100%;
  height: 100%;
}

.social-media:hover{
  opacity: 0.7;
}

.about-us-button{
  margin-top: 10%;
  width: 100%;
}

.headshot{
  width: 80%;
  margin-bottom: 20px;
  height: auto;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  color: white;
}

.event{
  padding: 1%;
}

#apply-here-button {
  margin-left: 40%;
}

.heading{
  margin-bottom: 2%;
}
.heading_events{
  margin-top: 1%;
  margin-bottom: 2%;
  text-align: center;
}
.heading_events2{
  text-align: left;
}
.events-header {
  color: white;
  margin-top: 3%;
  margin-bottom: 2%;
}

#send-email-event {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding: 2%;
  padding-top: 1%;
  margin-left: 40%;
  min-width: 30px;
}

#send-email-event:hover {
  opacity: 0.7;
}

.past-events-titles {
  font-size: 20px;
}

#event-individual {
  text-align: left;
  width: 55%;
  padding-top: 2%;
  padding-right: 3%;
}

#front-page-info{
  background-color:transparent !important;
}

#content-front-page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo-center{
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
}

#header-center{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-filter: brightness(30%); /* Safari */
  filter: brightness(30%);
}

#title-text{
  color: white;
}

#moto{
  color: white;
}

input, button, submit{
  border:none;
}

#about-us-button{
  background-color: white;
  width: 33%;
  height: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0.5%;
  margin-left: auto;
  margin-right: auto;
}

#about-us-button:hover{
  opacity: 0.7;
}

#background-windturbines{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/windturbines.jpg) no-repeat;
  background-size: cover;
}

#background-springs{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/springs.jpg) no-repeat;
  background-size: cover;
}

#about-us{
  margin-top: 10%;
  padding: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

#environment{
  border: 2px solid white;
  width: 100%;
}

#our-team{
  padding: 5%;
  color: white;
  background-color: rgba(80, 20, 30, 0.9);
}

#contact-us{
  padding: 5%;
  color: white;
  background-color: rgba(150, 40, 40, 0.8);
}

#events{
  margin-top: 3%;
  min-height: 82.5vh;
  padding: 2%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

#background-solar-panels{
	position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/solar-panels.jpg) no-repeat;
  background-size: cover;
}

#articles{
  margin-top: 3%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.article-preview{
	background-color: rgba(0, 0, 0, 0.2);
}
